@charset "UTF-8";

form{
	text-align: center;
	margin-top: 100px;
}

section{
	text-align: center;
	margin-top: 100px;
}
p{
	font-size: 150%;
}
.link{
	text-align: center;
	margin-top: 150px;
	font-size: 200%;
}